{{/* Display author list. */}}

{{ $homepages := dict
  "Arvind Krishnamurthy" "https://www.cs.washington.edu/people/faculty/arvind"
  "Banruo Liu" "https://livingshade.github.io"
  "Chunqiu Steven Xia" "https://steven.cs.illinois.edu/"
  "Danyang Zhuo" "https://danyangzhuo.com"
  "Gilbert Bernstein" "http://www.gilbertbernstein.com"
  "Jiawei Liu" "https://jiawei-site.github.io"
  "Jingrong Chen" "https://cjr.host"
  "Jinjun Peng" "https://co1lin.github.io"
  "Lingming Zhang" "https://lingming.cs.illinois.edu"
  "Nikola Bojanic" "https://www.linkedin.com/in/nikola-bojanic"
  "Ratul Mahajan" "https://ratul.org"
  "Sam Kumar" "https://www.samkumar.org"
  "Stephanie Wang" "https://stephanie-wang.github.io"
  "Xiangfeng Zhu" "https://xzhu27.me"
  "Xiangyu Gao" "https://xiangyug.github.io/"
  "Yang Zhou" "https://yangzhou1997.github.io/"
  "Yongtong Wu" "https://jokerwyt.github.io"
}}

{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span>
      <!-- {{- if and $profile_page $link_authors -}}
        <a href="{{$profile_page.RelPermalink}}">{{$name}}</a>
      {{- else -}}
        {{$name}}
      {{- end -}} -->
      {{ if eq $name "Yuyao Wang" }}
        <b><u>{{ $name }}</u></b>
      {{ else }}
        {{ $homepage := (index $homepages (string $name)) | default "notexist" }}
        {{ if eq $homepage "notexist" }}
          {{ $name }}
        {{ else }}
          <a href={{ $homepage }} target="_blank">{{ $name }}</a> 
        {{ end }}
      {{ end }}
    </span>
  {{- end -}}
{{- end -}}
